# dependencies
node_modules
node_modules.nosync
node_modules.icloud_broken
node_modules_old
**/node_modules
**/node_modules_old
.pnp
.pnp.js

# Next.js build output
.next
.vercel
.open-next

# Expo / React Native
apps/mobile/.expo
apps/mobile/dist
apps/mobile/node_modules

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
*.icloud

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Supabase
supabase/.temp
